@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html {
    font-family: 'Days One', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.link {
    cursor: pointer;
    font-size: 1.3rem;
    margin: 0 20px;
}

footer {
    height: 150px;
    width: 100%;
    background-color: rgb(16, 11, 7);
    color: rgba(255, 255, 255, 0.82);
    position: relative;
}


.copy {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

#test {
    margin: 80px 0;
}

.question {
    border-radius: 16px;
    background-color: #FFF8F5;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    width: 65vw;
    padding: 30px 40px;
    margin: 25px auto;
}

.question-title {
    margin-bottom: 20px;
}

.question-title-text {
    color: #2DC7FF;
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
}

.answer {
    margin: 6px 0;
}

.answer-text {
    color: #929292;
    font-size: 1.5rem;
    transition: 0.6s;
}

.answer-input {
    height: 1.1rem;
    width: 1rem;
}

.answer:hover span {
    color: #000;
}

.navigation {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.btn {
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.6s;
}

.btn:hover {
    background: #2DC7FF;
    color: white;
}

.navigation:has(.reload) {
    justify-content: center;
    flex-direction: column;
}

.total-result {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
}

.reload {
    width: 200px;
}

.result {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.result-text {
    color: #929292;
    font-family: 'Russo One', sans-serif;
    font-size: 1.2rem;
}

.ok {
    color: #51cb07;
}

.error {
    color: #c21414;
}

.question-img {
    height: 200px;
    object-fit: contain;
}